:root {
    --box-shadow: 0 2rem 3rem var(--color-light);
}
.users_container{
    background-color: #fff;
    padding: 2rem 6rem;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    align-items: center;
    /* gap: 20px; */
    
}
.users_container > div{
    display: flex;
    align-items: center;
    width: 49%;
    /* background-color: red; */
    justify-content: space-around;
    min-width: 400px;
}
.users_container:hover{
    box-shadow: none;
}

.person__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
}

.person__container img{
    width: 78px;
    border-radius: 100%;
    margin-bottom: 2.7px;
    
}

.person__primaryText{
    font-size: large;
    margin: 0;
}
.person__secondaryText{
    font-size: small;
    margin: 0;
    color: gray;
}